<ul class="list-group list-group-horizontal mt-4">
    <li class="list-group-item"><%= (@day - 6.day).strftime("%^A")[0] %></li>
    <li class="list-group-item"><%= (@day - 5.day).strftime("%^A")[0] %></li>
    <li class="list-group-item"><%= (@day - 4.day).strftime("%^A")[0] %></li>
    <li class="list-group-item"><%= (@day - 3.day).strftime("%^A")[0] %></li>
    <li class="list-group-item"><%= (@day - 2.day).strftime("%^A")[0] %></li>
    <li class="list-group-item"><%= (@day - 1.day).strftime("%^A")[0] %></li>
    <li class="list-group-item active"><%= @day.strftime("%^A")[0] %></li>
</ul>